<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <div class="container">

    </div>

    <script src="javascripts/users.js" charset="utf-8"></script>
  </body>
</html>
